<p>I'm happy that you've found the way to us. We will try our best to give you a greater battlefield web experience. We
    will constantly improve this service. Please visit our homepage at <a href="https://greaterfield.com?ref=extension">greaterfield.com</a>
    for more information.</p>
<p><b>Note:</b> Currently this extension is in alpha state. Follow development progress on our homepage.</p>

<div class="not-logged-in hidden">
    Sorry, you must login into web companion to be able to use greaterfield.
</div>

<div class="logged-in hidden">
    <div class="index-menu" data-id="stats">
        <div class="sc">
            <button class="btn-block btn">Stats</button>
        </div>
        <div class="hidden container"></div>
    </div>

    <div class="index-menu" data-id="gallery">
        <div class="sc">
            <button class="btn-block btn">Emblem Gallery</button>
        </div>
        <div class="hidden container"></div>
    </div>
</div>