<div class="stats">
    <div class="flex">
        <div class="weapon-categories">
            <h2>Weapon Categories</h2>
            <table>
                <tr>
                    <th class="name">Category</th>
                    <th class="kills">Kills</th>
                    <th class="kpm">KPM</th>
                    <th class="time">Time played</th>
                </tr>
            </table>
        </div>
        <div class="weapon-all">
            <h2>Weapons</h2>
            <table>
                <tr>
                    <th class="name">Name</th>
                    <th class="kills">Kills</th>
                    <th class="kpm">KPM</th>
                    <th class="time">Time played</th>
                </tr>
            </table>
        </div>
    </div>
    <div class="flex">
        <div class="vehicle-categories">
            <h2>Vehicle Categories</h2>
            <table>
                <tr>
                    <th class="name">Category</th>
                    <th class="kills">Kills</th>
                    <th class="kpm">KPM</th>
                    <th class="time">Time played</th>
                </tr>
            </table>
        </div>
        <div class="vehicle-all">
            <h2>Vehicles</h2>
            <table>
                <tr>
                    <th class="name">Name</th>
                    <th class="kills">Kills</th>
                    <th class="kpm">KPM</th>
                    <th class="time">Time played</th>
                </tr>
            </table>
        </div>
    </div>
</div>


<table class="hidden">
    <tr class="stats-entry template">
        <td class="name"></td>
        <td class="kills"></td>
        <td class="kpm"></td>
        <td class="time"></td>
    </tr>
</table>