.gf-input{
    width: 95%;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.4);
    color:white;
}

.gf-hidden{
    display: none !important;
}

#gf-icon {
    position: fixed;
    right: 0;
    top: 52px;
    background: #111111;
    transition: 0.3s;
    z-index: 71;
    cursor: pointer;
}

#gf-icon div{
    padding:10px;
}

#gf-icon img{
    display: block;
    opacity: 0.7;
}

#gf-tsviewer-icon{
    margin-top: 20px;
}

#gf-icon div:hover img {
    opacity: 1;
}

#gf-icon.active {
    right: 350px;
}

#gf-menu {
    position: fixed;
    right: -370px;
    top: 52px;
    height: calc(100% - 52px);
    background: rgba(0, 0, 0, 0.95);
    padding: 20px;
    transition: 0.3s;
    width: 350px;
    color: white;
    font-size: 12px;
    line-height: 1.6;
    z-index: 71;
    overflow-y: auto;
}

#gf-menu.active {
    right: 0;
}

.gf-forums #gf-icon,
.gf-forums #gf-menu {
    z-index: 9999;
}

.gf-forums body.header-sticky-new #gf-icon,
.gf-forums body.header-sticky-new #gf-menu {
    top: 61px;
}

.gf-forums body:not(.header-sticky-new) #gf-icon,
.gf-forums body:not(.header-sticky-new) #gf-menu {
    top: 130px;
}

#gf-menu h3 {
    font-size: 22px;
    line-height: 1;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

#gf-menu .font-futura {
    font-family: futura-pt, sans-serif;
}

#gf-menu .section > .title {
    font-size: 14px;
    font-weight: bold;
    color: #f17f1a;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    padding-left: 50px;
    margin-bottom: 10px;
}

#gf-menu .option {
    position: relative;
    padding: 5px;
    padding-left: 50px;
}

#gf-menu .option .gf-btn {
    padding-top: 1px;
    padding-bottom: 1px;
}

#gf-menu .option .info {
    color: #a5a5a5;
}

.gf .toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 19px;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    padding: 1px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.gf .toggle .handle {
    position: absolute;
    height: 15px;
    width: 20px;
    background: rgba(255, 255, 255, 0.3);
    transition: 0.3s;
    left: 0;
}

.gf .toggle.active .handle {
    left: 18px;
    background: #ff1e00;
}

#gf-menu .option .toggle {
    position: absolute;
    left: 0;
}

#gf-modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    font-family: Roboto, arial;
    color: white;
    font-size: 14px;
    line-height: 1.6;
}

#gf-modal > .inner {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    text-align: left;
    width: 80%;
    background: #111111;
    color: white;
    overflow: auto;
}

#gf-modal > .inner > .close {
    position: absolute;
    top: 5px;
    font-size: 24px;
    right: 10px;
    cursor: pointer;
}

#gf-modal .gf-content {
    padding: 20px;
}

#gf-modal .emblem-gallery .filters{
    margin-bottom: 20px;
}

#gf-modal .emblem-gallery .more{
    margin-top: 20px;
}


#gf-modal .emblem-gallery .entry{
    display: inline-block;
    width:calc(10%);
    padding:15px;
    text-align: center;
}

#gf-modal .emblem-gallery .entry img{
    width:100%;
}

#gf-modal .emblem-report textarea,
#gf-modal .emblem-code-import textarea{
    margin-top: 20px;
    margin-bottom: 20px;
}

#gf-modal .emblem-code-import textarea{
    height:200px;
}

#gf-toast {
    position: fixed;
    left: 0;
    bottom: 0;
    max-height: 0;
    z-index: 10001;
    background: red;
    width: 100%;
    font-family: Roboto, arial;
    color: white;
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
    transition: 1s;
}

#gf-toast.success{
    background: #12b770;
}

#gf-toast.active{
    max-height: 999px;
}

#gf-toast > .inner > .close {
    position: absolute;
    top: 5px;
    font-size: 24px;
    right: 10px;
    cursor: pointer;
}

#gf-toast .gf-content {
    padding: 10px;
}

.gf-background {
    position: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    left: 0;
    top: 0;
}

.gf-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 6px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.gf-btn:hover{
    background: rgba(255, 255, 255, 0.2);
}

.gf-btn:active{
    background: rgba(255, 255, 255, 0.4);
}

#gf-modal .translations .entry{
    padding:10px;
    border-bottom: 1px solid #333333;
}

#gf-modal .translations .entry textarea{
    height:60px;
}

#gf-modal .themes .entry {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#gf-modal .themes .entry .title {
    font-weight: bold;
    font-size: 120%;
}

#gf-modal .themes .entry .author {
    font-size: 80%;
    color: #a5a5a5;
}

#gf-modal .themes .entry .description {
    padding-top: 10px;
}

.stats-iframe{
    background: rgba(0,0,0,.5);
}

.stats-iframe .title{
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}

.stats-iframe iframe{
    width:100%;
    height:400px;
    overflow-x:hidden;
    overflow-y:auto;
    border:0;
    margin:0;
    padding:0;
}

.gf-viewport-src{
    position: relative;
}